9394:false:false:hrtsfld.xyz
8050:true:true:mysterygift.org
5555:true:true:btstrmr.xyz:
9001:true:true:tagmachine.xyz:
9002:true:true:telesoft.network:
9669:true:true:sbvrt.telesoft.network:
8667:true:true:particlestore.telesoft.network:
9047:true:true:tsconsulting.telesoft.network:
9677:true:true:generic.telesoft.network:
4420:true:true:anglewood.telesoft.network:
